$response.setContentType("text/html; charset=utf-8")

<html>
	<head>
		<title>velocity</title>
	</head>
	<body>
		application.applicationAttr : $!application.applicationAttr <br> 
		session.sessionAttr : $!session.sessionAttr <br>
		request.requestAttr : $!request.requestAttr <br>
		
		#foreach($ranger in $!rangers)
			$ranger <br>
		#end
		
		#if($!rangers.size() > 0)
			0보다 크다
		#end
		
	</body>
</html>