<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/day10/runtimeError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/day10/arithmeticError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404/404.html</location>
  </error-page>
  <context-param>
    <param-name>adminUser</param-name>
    <param-value>brown</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcDriver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>day1.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>random</servlet-name>
    <servlet-class>day2.RandomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>random</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/oracleDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>