<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>/login/login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ADMIN</param-name>
    <param-value>brown</param-value>
  </context-param>
  <servlet>
    <servlet-name>baiscServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>baiscServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
    <url-pattern>/bs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>times</servlet-name>
    <servlet-class>kr.or.ddit.servlet.TimesTablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>times</servlet-name>
    <url-pattern>/times</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dditLogin</servlet-name>
    <servlet-class>kr.or.ddit.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dditLogin</servlet-name>
    <url-pattern>/dditLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>velocityServlet</servlet-name>
    <servlet-class>org.apache.velocity.tools.view.VelocityViewServlet</servlet-class>
    <init-param>
    	<param-name>org.apache.velocity.properties</param-name>
    	<param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>velocityServlet</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/500.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error/type/arithmetic.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404/404.html</location>
  </error-page>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/oracleDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>